{% load i18n %}{% trans 'Dear user' %} {{user.username}},
{% blocktrans %}
You are receiving this email because you have requested a password reset
for your account at Quality Quiz Questions. To set a new password, please
visit the following address in your web browser:
{% endblocktrans %}{% block reset_link %}
{% trans 'http://en.qualityquizquestions.org' %}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}
{% endblock %}{% blocktrans %}
If you didn't request a password change, someone else has erroneously issued
such a request using your email address. In that case, we apologize for the
inconvenience and you can just ignore this email. Until you visit the link
above and change your password, your current password will remain valid.

If you have any questions, you can always contact us at the email address
support@qualityquizquestions.org

Greetings,
the Quality Quiz Questions team
http://www.qualityquizquestions.org/
{% endblocktrans %}
