{% extends "base.html" %}
{% block title %}404 Not Found{% endblock %}
{% block trunk %}
<h1>404 Not Found</h1>

<p>
&ldquo;The server has not found anything matching the Request-URI. No
indication is given of whether the condition is temporary or permanent [...]
This status code is commonly used when the server does not wish to reveal
exactly why the request has been refused, or when no other response is
applicable.&rdquo;
</p>

<p>
source: <a href="http://www.w3.org/Protocols/rfc2616/rfc2616.html">http://www.w3.org/Protocols/rfc2616/rfc2616.html</a>
</p>
{% endblock %}

{% block footer %}
{% endblock %}
