{% extends "base.html" %}
{% block title %}503 Service Unavailable{% endblock %}
{% block trunk %}
<h1>503 Service Unavailable</h1>

<p>
&ldquo;The server is currently unable to handle the request due to a temporary overloading
or maintenance of the server. The implication is that this is a temporary condition
which will be alleviated after some delay.&rdquo;
</p>

<p>
source: <a href="http://www.w3.org/Protocols/rfc2616/rfc2616.html">http://www.w3.org/Protocols/rfc2616/rfc2616.html</a>
</p>
{% endblock %}

{% block footer %}
{% endblock %}
