<h1>
De queeste voor een ongeëvenaarde collectie van quizvragen
</h1>

<p>
Quality Quiz Questions is een community van quizzers die gezamenlijk
quizvragen ontwikkelen over alle mogelijke onderwerpen. Wij streven naar de
ultieme quizvraag: een vraag die creatief maar nauwkeurig geformuleerd is,
waar je iets van opsteekt, en die
kennis in je bovenhaalt waarvan je niet wist dat je haar bezat.
</p>

<p>
Het resultaat voor de bezoekers van onze site is een almaar groeiende
database van kwalitatieve quizvragen die vrijelijk en kosteloos beschikbaar
zijn onder de termen van de <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
Commons BY-SA licentie</a>. Je kunt bladeren door
<a href="{% url qqq.collections.views.collections %}">kant-en-klare collecties</a>
van vragen, of
<a href="{% url qqq.questions.views.questions %}">zelf een selectie maken</a>
en downloaden in verscheidene bestandsformaten. 
</p>

<center>
<a class='button' style="font-size: 2em; color: white" href="{% url registration.views.register %}">Word lid!</a>
</center>

<p style="margin-top: 1em">
Het resultaat voor de leden van onze community is een discussieforum met een
gemeenschappelijk doel en vele interessante onderwerpen voor een debat. 
Wil je meedoen? <a href="{% url registration.views.register %}">Word
lid!</a> Als lid kun je berichten en reacties plaatsen,
vragen beoordelen op kwaliteit en moeilijkheid, nieuwe
vragen insturen, verbeteringen voorstellen en stemmen op de verbeteringen
van anderen.
</p>

<p>
We zijn altijd op zoek naar feedback van gebruikers. Heb je verzoeken voor
bepaalde functionaliteiten, ide&euml;en, klachten? Mail al je feedback naar
<a href="mailto:feedback@qualityquizquestions.org">feedback@qualityquizquestions.org</a>
</p>
