<h1>
The community quest for the ultimate collection of quiz questions
</h1>

<p>
Quality Quiz Questions is a community of quizzers who develop quiz questions
about a variety of topics. We strive for the <em>ultimate quiz
question</em>: a question that is formulated creatively but accurate, brings
out knowledge you did not know you possessed, and makes you curious to find
out more about the topic.
</p>

<p>
The result for the visitors of this site is a constantly growing database of
quality quiz questions that are available for free under the terms of the 
<a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA
license</a>. You can browse through
<a href="{% url qqq.collections.views.collections %}">ready-to-use collections</a> of
questions, or <a href="{% url qqq.questions.views.questions %}">make a selection</a>
yourself and download it in various file formats.
</p>

<p>
The result for our community members is a discussion forum with a common
goal and many interesting topics for debate. Want to join?
<a href="{% url registration.views.register %}">Become a member</a>!
As a member you can place posts and reactions, rate the quality and
difficulty of questions, submit new questions and propose improvements for
existing questions.
</p>

<p>
We are always looking for user's feedback. Do you have requests for certain
functionalities, ideas, or complaints? Mail all you feedback to
<a href="mailto:feedback@qualityquizquestions.org">feedback@qualityquizquestions.org</a>
</p>
